# Ignore IDE and build files inside backend/
backend/.classpath
backend/.project
backend/.settings/
backend/.factorypath
backend/target/
backend/.gitignore

# Global IDE ignores
.idea/
*.iml

# Maven Wrapper
.mvn/
mvnw
mvnw.cmd

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Misc
HELP.md
