# Build output
target/
backend/target/

# Eclipse and IntelliJ project files
.classpath
.project
.settings/
.idea/
*.iml

# Maven Wrapper
.mvn/
mvnw
mvnw.cmd

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Misc
HELP.md
